<div class="weatherWidgetContainer">
	<div ng-transclude></div>
	<div class="weatherWidgetList" ng-repeat="location in weatherWidget.locations track by $index">
		<h1 class="weatherWidgetLocation">{{ location.city }}</h1>
		<p class="weatherWidgetSummary">{{ location.summary }}</p>
		<p class="weatherWidgetTemperature">{{ location.temperature }}&deg; <img ng-src="{{ location.icon }}" /><span ng-show="weatherWidget.editMode"> <a ng-click="weatherWidget.removeLocation( $index )" ng-href="#">x</span></p>
	</div>
	<div class="weatherWidgetFooter">
		Weather data from World Weather Online <a href="http://www.worldweatheronline.com" target="_blank">http://www.worldweatheronline.com</a>
	</div>
	<div class="weatherWidgetFooter">
	<a ng-click="weatherWidget.editMode = ! weatherWidget.editMode" ng-href="#">
		<span ng-show="! weatherWidget.editMode">Edit</span>
		<span ng-show="weatherWidget.editMode">Done</span>
	</a>
	</div>
</div>
